/* Import Google Fonts */ 
.raleway-light-italic {
    font-family: 'Raleway', serif;
    font-weight: 500;
  }

/* General styles */
body {
    font-family: 'Raleway', serif;
    background-color: rgb(236, 195, 223);
    margin: 50px;
    padding: 0;
    color: rgb(27, 29, 28);
}

h1 {
    font-family: 'Raleway';
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    font-style: italic;
    margin: 50px;
    color: rgb(23, 24, 23);
}

h2 {
    font-family: 'Raleway', serif;
    text-align: center;
    font-size: 6em;
    font-weight: 600;
    font-style: italic;
    margin: 50px;
    color: rgb(63, 185, 83);
}

p {
    font-family: 'Raleway', serif;
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.6;
    margin: 50px;
}

blockquote {
    font-family: 'Raleway', serif;
    text-align: right;
    font-size: 3em;
    font-weight: 300;
    font-style: italic;
    margin: 50px;
    color: rgb(63, 185, 83);
}

/* Navigation styles */
a {
    float: right;
    padding: 10px 15px;
    font-weight: 400;
    color: rgb(63, 185, 83);
    text-decoration:dotted;
    transition: color 0.3s ease, background-color 1.5s ease;
}

a:hover {
    color: white;
    background-color: rgb(63, 185, 83);
    border-radius: 5px;
}

/* Image styling */
img {
    width: 30%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    transition: transform 1.5s ease;
}

img:hover {
    transform: scale(1.10);
}

/* Footer styling */
footer {
   font-family: 'Raleway', serif;
   text-align: center;
   font-size: 1em;
   font-weight: 300;
   font-style: normal;
   margin: 50px;
   color: rgb(63, 185, 83);
}